@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="col-md-12">
    <div class="page-header-title">
        <h5 class="m-b-10"> Home </h5>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard"><i class="feather icon-home"></i></a></li>
        <li class="breadcrumb-item"><a href="javascript:">Dashboard</a></li>
    </ul>
</div>
<hr />
