@model HallBooking.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/User.cshtml";
}

<div class="hero-wrap js-fullheight" style="background-image: url('/Home_Assests/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/Useraccounts/UserEdit/@ViewBag.Userid">Edit Profile</a></span> <span></span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Category</h1>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4 sidebar order-md-last ftco-animate">
    </div>
    <div class="col-lg-4 sidebar order-md-last ftco-animate">
        <div class="sidebar-wrap ftco-animate">
            <form asp-action="Add">
                <div class="fields">
                    <div class="form-group">
                        <label asp-for="Startdate" class="control-label">From Date</label>
                        <input asp-for="Startdate" class="form-control" />
                        <span asp-validation-for="Startdate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enddate" class="control-label">To Date</label>
                        <input asp-for="Enddate" class="form-control" />
                        <span asp-validation-for="Enddate" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Check availability" class="btn btn-primary" />
                    </div>


                    <div class="form-group">
                        <div class="select-wrap one-third">
                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                            <select name="" id="" class="form-control" placeholder="Keyword search">
                                <option value="">Select Location</option>
                                <option value="">San Francisco USA</option>
                                <option value="">Berlin Germany</option>
                                <option value="">Lodon United Kingdom</option>
                                <option value="">Paris Italy</option>
                            </select>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div> END

</div>












