@model IEnumerable<HallBooking.Models.Hallcategory>

@{
    Layout = "~/Views/Shared/User.cshtml";

}


<div class="hero-wrap js-fullheight" style="background-image: url('/Home_Assests/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Category</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">



            <div class="col-lg-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm col-md-6 col-lg-4 ftco-animate">


                            <div class="destination">


                                <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: @Url.Content("~/images/" + item.Imagepath);">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-link"></span>
                                    </div>
                                </a>
                                <div class="text p-3">
                                    <div class="d-flex">
                                        <div class="one">
                                            <h3><a href="#">@item.Name</a></h3>
                                            <p class="rate">
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star-o"></i>
                                                <span>8 Rating</span>
                                            </p>
                                        </div>
                                        @*<div class="two">
                                <span class="price per-price">$@item.Price<br><small>/night</small></span>
                            </div>*@
                                    </div>
                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                    <hr>
                                    <p class="bottom-area d-flex">
                                        <span><i class="icon-map-o"></i> Miami, Fl</span>
                                        <span class="ml-auto"><a href="/UserDashboard/Index/@item.Categoryid">Halls </a></span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    }
                    </div>



            
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
