@model IEnumerable<HallBooking.Models.Hall>
@{
    Layout = "~/Views/Shared/User.cshtml";

}



<div class="hero-wrap js-fullheight" style="background-image: url('/images/F.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div>
                    <a class="btn btn-primary py-3 px-5" href="/Useraccounts/UserEdit/@ViewBag.Userid">Edit Profile</a>
                    @*<input  type="submit" value="Edit Profile" class="btn btn-primary py-3 px-5">*@
                </div>
                <br />
                <br />
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Find Hall</h3>
                    <form asp-action="Halls" method="post">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" name="Halls" class="form-control" placeholder="Search in Hall...">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </form>
                </div>

            </div><!-- END-->
            <div class="col-lg-9">

                <section class="ftco-section">
                    <div class="container">
                        <div class="row justify-content-center mb-5 pb-3">
                            <div class="col-md-7 heading-section text-center ftco-animate">
                                <h2 class="mb-4"><strong>HALLS</strong> </h2>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm col-md-6 col-lg ftco-animate">
                                    <div class="destination">
                                        <a href="/LoginAndRegestration/Login" class="img img-2 d-flex justify-content-center align-items-center">
                                            <img src=@Url.Content("~/Images/" + item.Imagepath)  width="300" height="300" />
                                        </a>
                                        <div class="text p-3">
                                            <div class="d-flex">
                                                <div class="one">
                                                    <h3><a href="#">@item.Hallname</a></h3>

                                                </div>
                                                <div class="two">
                                                    <span class="price per-price">$@item.Price<br><small>/Day</small></span>
                                                </div>

                                            </div>
                                            <h3>Address : @item.Hallddress</h3>
                                            <h5>Capacity : @item.Hallsize</h5>
                                            <h6> Category: @item.Category.Name</h6>

                                            <hr>
                                            <p class="bottom-area d-flex">

                                                <span class="ml-auto"><a href="/UserDashboard/Add/@item.Hallid">Book Now</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>



                            }
                        </div>
                    </div>
                </section>





            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
